In [493]:
import pandas as pd
import requests
import os
from datetime import datetime

In [494]:
# year_data = []

# for year in range(2009, 2027):
#     # COMMS_URL = "https://apiv2.cricket.com.au/web/views/comments?fixtureId=19852&inningNumber=3&commentType=&overLimit=300&jsconfig=eccn%3Atrue&format=json"
#     for i in ["true", "false"]:
#         _bool = i
#         SCHED_URL = f"https://apiv2.cricket.com.au/web/fixtures/yearfilter?isCompleted={_bool}&year={year}&limit=999&isInningInclude=true&jsconfig=eccn%3Atrue&format=json"
#         response = requests.get(SCHED_URL, timeout=100)
#         sched_data = response.json()
#         year_data.extend(sched_data['fixtures'])

# year_data = sorted(year_data, key = lambda x: x["startDateTime"])
# year_df = pd.DataFrame(year_data)
# year_df.to_csv("./cricket.com.au_2009_2025.csv", index=False)

In [495]:
year_df = pd.read_csv('./cricket.com.au_2009_2025.csv')

In [496]:
# fix_data = []

# # for col in year_df.columns:
# #     for entry in year_df[col]:
# #         if entry is not None:
# #             fix_data.append(entry)

# for index in range(len(year_df) - 1, -1, -1):
#     row = year_df.iloc[index]
#     for entry in row:
#         if entry is not None:
#             fix_data.append(entry)

# fix_df = pd.DataFrame(fix_data)
# fix_df = fix_df.iloc[::-1].reset_index(drop=True)
# fix_df

In [497]:
# COMMS_URL = "https://apiv2.cricket.com.au/web/views/comments?fixtureId=19964&inningNumber=1&commentType=&overLimit=300&jsconfig=eccn%3Atrue&format=json"
# response = requests.get(COMMS_URL, timeout=100)
# comms_data = response.json()
# comms_df = pd.DataFrame(comms_data)
# test_df = pd.DataFrame(comms_df['inning']['overs'])
# test_df.drop(len(test_df)-1, inplace=True)
# # test_df = pd.DataFrame(test_df['inning'])

# # overs_df = pd.json_normalize(test_df['balls'].explode()).reset_index(drop=True)
# # test_df = test_df.drop(columns='balls')
# # df_repeated = pd.concat([test_df]*len(overs_df), ignore_index=True)
# # final_df = pd.concat([df_repeated, overs_df], axis=1)
# # final_df.to_csv("./test.csv", index=False)

# ball_data = []
# for over_no in range(len(test_df)):
#     over_df = test_df.iloc[over_no, :-1]
#     ball_data.extend(test_df['balls'][over_no])


# ball_df = pd.DataFrame(ball_data)    
# # test_df
# ball_df

In [498]:
_year = 2018

In [499]:
test_df = year_df[(year_df['gameTypeId'] == 1) & (year_df['isCompleted'] == True) & (pd.to_datetime(year_df['startDateTime']).dt.year >= _year) & (year_df['isWomensMatch'] == True)]
test_df

,id,name,startDateTime,endDateTime,gameTypeId,gameType,isLive,isCompleted,isDuckworthLewis,matchDay,...,competition,homeTeam,awayTeam,channels,innings,isInProgress,totalOvers,streamCount,legacyFixtureId,venue
905,4317,Only Test,2019-07-18T10:00:00Z,2019-07-22T17:00:00Z,1,Test,False,True,False,4.0,...,"{'id': 584, 'name': ""Women's Ashes Test"", 'leg...","{'id': 71, 'name': 'England Women', 'shortName...","{'id': 68, 'name': 'Australia Women', 'shortNa...","[{'id': 50, 'channelLogo': 'https://static-fil...","[{'id': 2152, 'fixtureId': 4317, 'inningNumber...",False,NaN,0,44642,"{'id': 54, 'name': 'The County Ground, Taunton..."
2091,10978,Only Test,2021-06-16T10:00:00Z,2021-06-19T17:14:50Z,1,Test,False,True,False,4.0,...,"{'id': 1775, 'name': ""England v India Test - W...","{'id': 71, 'name': 'England Women', 'shortName...","{'id': 76, 'name': 'India Women', 'shortName':...","[{'channelConstantId': 3, 'id': 52, 'channelLo...","[{'id': 12032, 'fixtureId': 10978, 'inningNumb...",False,NaN,0,50984,"{'id': 52, 'name': 'Bristol County Ground, Bri..."
2385,11103,Only Test,2021-09-30T04:00:00Z,2021-10-03T11:09:46Z,1,Test,False,True,False,4.0,...,"{'id': 1811, 'name': 'CommBank Series v India ...","{'id': 68, 'name': 'Australia Women', 'shortNa...","{'id': 76, 'name': 'India Women', 'shortName':...","[{'id': 43, 'channelLogo': 'https://static-fil...","[{'id': 13278, 'fixtureId': 11103, 'inningNumb...",False,NaN,0,51160,"{'id': 95, 'name': 'Carrara Stadium', 'latitud..."
2922,13141,Only Test,2022-06-27T10:00:00Z,2022-06-30T16:37:47Z,1,Test,False,True,False,4.0,...,"{'id': 1984, 'name': 'England v South Africa T...","{'id': 71, 'name': 'England Women', 'shortName...","{'id': 69, 'name': 'South Africa Women', 'shor...","[{'channelConstantId': 3, 'id': 52, 'channelLo...","[{'id': 26494, 'fixtureId': 13141, 'inningNumb...",False,NaN,0,53554,"{'id': 54, 'name': 'The County Ground, Taunton..."
3991,14994,Only Test,2023-06-22T10:00:00Z,2023-06-26T11:31:15Z,1,Test,False,True,False,5.0,...,"{'id': 2194, 'name': ""Women's Ashes - Test"", '...","{'id': 71, 'name': 'England Women', 'shortName...","{'id': 68, 'name': 'Australia Women', 'shortNa...","[{'id': 50, 'channelLogo': 'https://static-fil...","[{'id': 30100, 'fixtureId': 14994, 'inningNumb...",False,NaN,0,55396,"{'id': 12, 'name': 'Trent Bridge, Nottingham',..."
4547,18656,Only Test,2023-12-14T04:00:00Z,2023-12-16T06:09:49Z,1,Test,False,True,False,3.0,...,"{'id': 2478, 'name': 'India v England Test - W...","{'id': 76, 'name': 'India Women', 'shortName':...","{'id': 71, 'name': 'England Women', 'shortName...",[],"[{'id': 32151, 'fixtureId': 18656, 'inningNumb...",False,NaN,0,59312,"{'id': 523, 'name': 'Dr DY Patil Sports Academ..."
4566,18657,Only Test,2023-12-21T04:00:00Z,2023-12-24T07:15:22Z,1,Test,False,True,False,4.0,...,"{'id': 2479, 'name': 'India v Australia Test -...","{'id': 76, 'name': 'India Women', 'shortName':...","{'id': 68, 'name': 'Australia Women', 'shortNa...","[{'id': 77, 'channelLogo': 'https://resources....","[{'id': 32196, 'fixtureId': 18657, 'inningNumb...",False,NaN,0,59313,"{'id': 499, 'name': 'Wankhede Stadium', 'latit..."
4954,20213,Only Test,2024-06-28T04:00:00Z,2024-07-01T10:22:26Z,1,Test,False,True,False,4.0,...,"{'id': 2631, 'name': 'India v South Africa Tes...","{'id': 76, 'name': 'India Women', 'shortName':...","{'id': 69, 'name': 'South Africa Women', 'shor...","[{'id': 77, 'channelLogo': 'https://resources....","[{'id': 34001, 'fixtureId': 20213, 'inningNumb...",False,NaN,0,61017,"{'id': 495, 'name': 'M.A. Chidambaram Stadium'..."
5542,20119,Only Test,2024-12-15T08:00:00Z,2024-12-17T14:12:24Z,1,Test,False,True,False,3.0,...,"{'id': 2613, 'name': 'South Africa v England T...","{'id': 69, 'name': 'South Africa Women', 'shor...","{'id': 71, 'name': 'England Women', 'shortName...",[],"[{'id': 36778, 'fixtureId': 20119, 'inningNumb...",False,NaN,0,60904,"{'id': 485, 'name': 'Mangaung Oval', 'latitude..."

In [500]:
def preprocess(data):
    
    if 'inning' in data.keys():
        df = pd.json_normalize(data['inning'], 'overs', ['id', 'fixtureId', 'inningNumber', 'battingTeamId', 'bowlingTeamId'], record_prefix='over_')
        # df1 = pd.json_normalize(df['balls'])
        # df = df.iloc[::-1].reset_index(drop=True)
        if(len(df) > 0):
            df = df.drop(index=df.index[-1])
            df = df.explode('over_balls', ignore_index=True)
            df1 = pd.json_normalize(df['over_balls'])
            df.drop(columns=['over_balls'], inplace=True)
            df2 = pd.concat([df, df1], axis=1)
            # df2['ball_comments'] = df2['comments'].apply(lambda x: ', '.join([comment['comments'] for comment in x]) if isinstance(x, list) else '')
            # df2

            # df3 = pd.json_normalize(df2)
            df2 = df2.iloc[::-1].reset_index(drop=True)
            if 'comments' in df2.columns:
                df2.drop(columns=['comments'], inplace=True)
        else:
            df2 = pd.DataFrame()

    else:
        df2 = pd.DataFrame()

    return df2
    # df2.to_csv('./temp.csv', index=False)

In [501]:
def main_func(matchid):
    comms_df = pd.DataFrame()
    for i in range(1, 3):
        CRICKET_AUS_COMMS = f"https://apiv2.cricket.com.au/web/views/comments?fixtureId={matchid}&inningNumber={i}&commentType=&overLimit=499&jsconfig=eccn%3Atrue&format=json"
        response = requests.get(CRICKET_AUS_COMMS, timeout=100)
        data = response.json()
        df = preprocess(data)
        comms_df = pd.concat([comms_df, df], ignore_index=True)

    # os.makedirs(f"./T20I/{_year}", exist_ok=True)
    # comms_df.to_csv(f"./T20I/{_year}/{matchid}.csv", index=False)

    return comms_df
    # with open("./temp.json", "w") as f:
    #     json.dump(comms_data, f, indent=4)
    # comms_data.extend(data['inning'])
    # df = pd.read_json(data)

In [ ]:
final_bbb_df = pd.DataFrame()
for i in test_df['id']:
    temp = main_func(i)
    final_bbb_df = pd.concat([final_bbb_df, temp], ignore_index=True)

# os.makedirs(f"./W_T20I", exist_ok=True)
final_bbb_df.to_csv(f"./tests_women.csv", index=False)